.bi-exclamation-triangle-fill{
  color: red;
}

.mat-tab-group {
  margin-bottom: 48px;
}

::ng-deep .example-tab-icon{
  color: black;
}

::ng-deep #mat-badge-content-3 ,  #mat-badge-content-0, #mat-badge-content-4, #mat-badge-content-6 {
  background: green;
}

::ng-deep #mat-badge-content-7 {
  background: red;
}


.containerX{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: initial;

}

.teste{
  background: rgb(161, 112, 155);
}

.h6{
  font-size: 2rem;
  color: azure;
}
