<!-- <router-outlet></router-outlet> -->

<div class="container mt-10">

  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
        <h4 id="text-login" class="text-center my-5">::: Meeting :::</h4>

        <form [formGroup]="loginForm" class="form" (ngSubmit)="login()">
              <div class="form-group">
                <div class="input-group flex-nowrap">
                <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-user-circle"></i>
                </span>
                  <input formControlName="userName"
                      class="form-control userName"
                      placeholder="user name"
                      autofocus
                      #userNameInput>

                  <!-- <small
                      *ngIf="loginForm.get('userName').errors?.required"
                      class="text-danger d-block">
                      Ops, você esqueceu de digitar o nome do usuário
                  </small> -->
              </div>
                  <app-mensagens *ngIf="loginForm.errors?.userName; semErrosUserNameBlock"
                         mensagemDeErro="Nome do usuário é obrigatório">
                  </app-mensagens>
                <small #semErrosUserNameBlock></small>
            </div>

              <div class="form-group">
                <div class="input-group flex-nowrap">
                  <span class="input-group-text mt-2" id="basic-addon1">
                    <i class="fas fa-key"></i>
                  </span>

                  <input formControlName="password"
                      type="password"
                      class="form-control mt-2"
                      placeholder="password">
                </div>
                      <app-mensagens *ngIf="loginForm.errors?.password ; semErrosPasswordBlock"
                                mensagemDeErro="A senha é obrigatória">
                      </app-mensagens>
                      <small #semErrosPasswordBlock></small>
              </div>

              <div class="d-grid gap-2">
              <button
                  [disabled]="loginForm.invalid"
                  type="submit"
                  class="btn btn-primary mt-3 mb-2">
                  login
              </button>
              </div>

        </form>
            <div class="justify-content-md-center">
                <p class="justify-content-md-center">Não tem conta aqui?
                  <a [routerLink]="['']" class="registre-se">Registre-se agora</a>
                </p>
            </div>
      </div>
    </div>
  </div>

