<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" #sidebar>
      <div id="dismiss" #dismiss>
          <i class="fas fa-arrow-left"></i>
      </div>
      <div class="sidebar-header">
          <h3>Meu Meeting</h3>
      </div>
      <ul id="organize" class="list-unstyled components">

        <p>Organize sua vida!</p>

          <li id="meuCalendario" class="active">
              <a  href="#meuCalendario">
                <img class="img-menu-a" src="../../assets/imgs/calendario.png">
                Meu calendário</a>
          </li>
          <li id="meusItens">
            <a href="#meusItens" >
              <img class="img-menu-a" src="../../assets/imgs/tabela-de-edicao.png">
              Meus itens de reunião</a>
          </li>
          <li id="minhasAcoes">
            <a href="#minhasAcoes" >
              <img class="img-menu-a" src="../../assets/imgs/check.png">
              Minhas ações</a>
          </li>
      </ul>

  </nav>
  <!-- Page Content  -->
  <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <i class="fas fa-align-left"></i>
                  <span id="vamos-la">Vamos lá</span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="nav nav-tabs">
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i class="bi bi-house"></i>
                            Home</a>

                      </li>
                  </ul>
              </div>
          </div>
      </nav>
