<mat-accordion class="tab-2">
  <mat-expansion-panel togglePosition="before" hideToggle="false" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span
              matBadge={{proximasReunioesNotUserList.length}}
              matBadgeSize="medium"
              matBadgePosition="below"
              matBadgeOverlap="false">
              <span class="titulo-proximas-reunioes">
                  Próximas reuniões que você não está incluso
              </span>
        </span>
      </mat-panel-title>
      <mat-icon aria-hidden="false" aria-label="reuniões">event_available</mat-icon>
    </mat-expansion-panel-header>

    <mat-form-field appearance="standard">
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Procure por data ou que desejar..." #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Data -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data - Horário </th>
      <td mat-cell *matCellDef="let element"> {{element.dataAgendamento | date: 'dd/MM/yyyy - HH:mm'}} </td>
    </ng-container>

     <!-- Titulo -->
     <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

      <!-- Local -->
      <ng-container matColumnDef="local">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
        <td mat-cell *matCellDef="let reuniao"> {{reuniao.local}} </td>
      </ng-container>

     <!--  Itens -->
      <ng-container matColumnDef="itens">
      <th mat-header-cell *matHeaderCellDef> Itens </th>
      <td mat-cell *matCellDef="let reuniao"> <div class="link-itens" (click)="openDialog(reuniao.id)" >
        <mat-icon matTooltip="ver itens que serão discutidos" aria-hidden="false" aria-label="Example home icon">format_list_bulleted</mat-icon>
      </div>
    </td>
      </ng-container>

       <!--  Participantes -->
       <ng-container matColumnDef="participantes">
        <th mat-header-cell *matHeaderCellDef> Participantes </th>
        <td mat-cell *matCellDef="let reuniao">
          <div class="participantes" (click)="abreModalParticipantes(reuniao.id)" style="margin-left: 15px ;">
            <mat-icon matTooltip="ver participantes" aria-hidden="false" aria-label="Example home icon">groups</mat-icon>
           </div>
        </td>
        </ng-container>

       <!--  Solicitar participação -->
       <ng-container matColumnDef="solicitar">
        <th mat-header-cell *matHeaderCellDef> Solicitar participação </th>
        <td mat-cell *matCellDef="let reuniao">
        <div  class="confirmar">

          <mat-slide-toggle
                *ngIf="reuniao.confirmacoes == null || reuniao.confirmacoes.length == 0; else notNull"
                class="example-margin"
                [color]="color"
                [checked]="false"
                (toggleChange)="atualizarStatusNull(reuniao.id)">
                solicitar participação?
          </mat-slide-toggle>

          <ng-template #notNull>
                <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [checked]="true"
                    (toggleChange)="atualizarStatus(reuniao.confirmacoes[0], reuniao.id)">
                    cancelar solicitação?
                </mat-slide-toggle>
          </ng-template>
          </div>
        </td>

        <!-- <td mat-cell *matCellDef="let reuniao">
           <div  class="confirmar" style="color: lightgreen;">
             <mat-icon matTooltip="participar desta reunião" aria-hidden="false" aria-label="Example home icon">person_add</mat-icon> </div>
        </td> -->
        </ng-container>

        <!--  Download de ata -->
       <ng-container matColumnDef="pauta">
        <th mat-header-cell *matHeaderCellDef> Pauta </th>
        <td mat-cell *matCellDef="let reuniao">
          <div class="baixar">
            <mat-icon matTooltip="download da pauta" aria-hidden="false" aria-label="Example home icon">file_present</mat-icon> </div>
         </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsProximasNotUser"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsProximasNotUser;"></tr>

  <!-- Linha que aparece quando não há correspondencia no filtro-->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Não há dados para os critérios pesquisados "{{input.value}}"</td>
  </tr>
  </table>

    <mat-paginator hidePageSize [pageSizeOptions]="[2, 5, 10]" aria-label="Selecione a pagina"></mat-paginator>

  </mat-expansion-panel>
  </mat-accordion>
