/* .p-panel-title, .ng-tns-c244-31, .ng-star-inserted, .p-panel-header, .p-panel {
  font-weight: 100;
  color: red;

} */

::ng-deep span[id^="p-panel-"] {
  font-weight: 100;
}


::ng-deep #p-panel-0_header,::ng-deep #p-panel-1_header, ::ng-deep #p-panel-2_header{
  font-weight: 100;
}

