 <!-- Barra de cabeçalho Minhas reuniões-->
 <div class="teste d-flex align-items-center p-3 my-1 text-white-50 rounded shadow-sm">
  <div class="lh-100">
    <h6 class="h6">Minhas reuniões</h6>
    <small>Todos os detalhes dos seus compromissos estão aqui!</small>
  </div>
 </div>

<!-- Próximas reuniões -->
<app-tabela-prox (aoRejeitar)="onMudouValor($event)" ></app-tabela-prox>
<!-- Reuniões gerais -->
<app-tabela-prox-noUser [qtdReuniao]="valor" ></app-tabela-prox-noUser>
<!-- Reuniões antigas -->
<app-tabela-antigas></app-tabela-antigas>



