<div class="container principal">
  <div class="row">

     <a class="item mb-3"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Resumo rápido!">
      <i
        class="pi pi-home">
      </i>
      Meu relatório
    </a>

    <a class="item mb-3"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Gerencie suas reuniões">
      <i
        class="pi pi-calendar">
      </i>
      Minhas reuniões
    </a>

    <a class="item mb-2">
      <i class="pi pi-list"></i>
      Minhas ações</a>

  </div>

</div>
  <p-divider></p-divider>

  <div class="container rodape">
  <div class="row">

    <a class="item mb-3">
      <i class="pi pi-chart-bar"></i>
     Estatísticas</a>

    <a class="item mb-3">
      <i class="pi pi-download"></i>
      Download de atas</a>
    </div>
  </div>
